<html lang="en" class="translated-ltr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <meta name="author" content="Merlin Halliday">
      <meta name="description" content="">
      <meta name="keywords" content="homepage,blog,science,informatics,development,programming,consulting,projects,cloud,software,technology">
          <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png')}}">
<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest')}}">
<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg')}} color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
      <title>CV :: Merlin Halliday</title>
      <link href="{{ url_for('static', filename='flag-icon-css.css') }}"rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{ url_for('static', filename='min.css') }}">
   </head>
   <body data-new-gr-c-s-check-loaded="14.1091.0" data-gr-ext-installed="">
      <div class="container">
         <header class="header">
            <span class="header__inner">
               <a href="/" style="text-decoration:none">
                  <div class="logo"><span class="logo__mark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&gt;</font></font></span>
                     <span class="logo__text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$cd /home/</font></font></span>
                     <span class="logo__cursor"></span>
                  </div>
               </a>
               <span class="header__right">
                  <nav class="menu">
                     <ul class="menu__inner">
                        <li><a href="/about"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">About</font></font></a></li>
                        <li><a href="/cv"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CV</font></font></a></li>
                        <li><a href="/projects"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projects</font></font></a></li>
                     </ul>
                  </nav>
                  <span class="menu-trigger">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                     </svg>
                  </span>
               </span>
            </span>
         </header>
         <div class="content">
            <main class="post">
               <div class="post-info">
                  <p></p>
               </div>
               <article>
                  <h2 class="post-title"><a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Merlin Halliday</font></font></a></h2>
                  <hr>
                     <p><font style="vertical-align: inherit;">
                        <p>Email: <a href="mailto:merlin.halliday@myport.ac.uk">merlin.halliday@myport.ac.uk</a></p>
<h2 id="education">Education</h2>
<p><em>University of Portsmouth:</em> <em>Masters of Research MRes ( <strong><strong>Distinction</strong></strong> ):</em></p>
<p><em>(Feb 2018 – Feb 2019)</em></p>
<ul>
<li>Conducted investigation of factors controlling proliferation of CNS cells and their impact on the pathogenesis of Multiple Sclerosis</li>
<li>Adapted existing procedures and reviewed work of other spinal cord researchers</li>
<li>Attended skills workshops to develop my programming and data analysis skills to support my research</li>
<li>Earned a Distinction for final project submission, producing a fully publishable journal article based on novel research</li>
<li>Condensed year of research into a 20-minute talk with custom diagrams and data visualizations</li>
</ul>
<p><em>University of Portsmouth: BSc (Hons) Pharmacology ( <strong><strong>2:1</strong></strong> ):</em></p>
<p><em>(Sep 2013 – Jun 2016)</em></p>
<ul>
<li>Produced exceptional presentation based on final year research project, graded by peers and academics with an average score of 73%</li>
<li>Used computational biology to assess thousands of compounds for their ability to bind to a target receptor, earning a grade of 80% for report on findings</li>
<li>Showed effective teamwork in group projects and extracurricular clubs.</li>
<li>Balanced studies with extracurricular commitments, including role as Captain of the UoP Underwater Hockey Team</li>
</ul>
<h2 id="work-experience">Work Experience</h2>
<p><em>IQVIA: Technology Solutions Consulting - Analyst:</em></p>
<p><em>(Oct 2021 - Present)</em></p>
<ul>
<li>Contributed significantly to team's business development goals, building trust and respect with clients</li>
<li>Lead Business Analyst on a successful ~$1M digital patient engagement project, resolving client stakeholder misalignment and becoming an essential link between business and IT</li>
<li>Supported the development of reproducible Patient and Customer Engagement offerings</li>
<li>Conducted a UAT with CRM users and built salesforce reports and dashboards based on their feedback</li>
</ul>
<p><em>Etopia Consultancy: Commercial Insights Analyst:</em></p>
<p><em>(Oct 2020 - Oct 2021)</em></p>
<ul>
<li>Designed and built sales forecasting sheets in Excel using Power Query and built-in forecasting formulas</li>
<li>Produced a recorded webinar on how to get the most out of Amazon’s Brand Analytics reports, broadcast to hundreds of Hasbro license partners</li>
<li>Built regular Amazon Advertising reports using the API to optimize campaigns and drive better ROI</li>
<li>Conducted full e-commerce business audits and presented results with commercial strategies to C-level executives and investors</li>
</ul>
<p><em>Ecommerce Trading Assistant, Evans Cycles:</em></p>
<p><em>(Jun 2019 – Oct 2020)</em></p>
<ul>
<li>Built Google Data Studio dashboards to aid the reporting of user metrics on the website</li>
<li>Used HTML and CSS, in conjunction with A/B testing, to optimize the customer journey on the website.</li>
<li>Played key roles in major projects, including a full website redesign and migration to the Sports Direct platform</li>
<li>Adapted to working from home and managed own task list during the pandemic</li>
</ul>
<p><em>Clinical Administrator, Saxonbrook Medical:</em></p>
<p><em>(Aug 2016 – Feb 2018)</em></p>
<ul>
<li>Accurately coded information from hospital notes into digital patient records using SystmOne</li>
<li>Contributed to projects tackling public health issues, such as the move to digital referrals for mental health triage</li>
<li>Wrote SOPs for auditing non-clinical staff in patient records to ensure data accuracy and quality of patient care</li>
<li>Constructed queries to highlight records with missing QOF codes, contributing to above average QOF performance in 2017</li>
</ul></br>

<h3 id="references-available-on-request">References available on request.</h3>

                       
                     </font></p>


               </article>
               <hr>
               <div class="post-info">
                  <p>
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit">
                        <circle cx="12" cy="12" r="4"></circle>
                        <line x1="1.05" y1="12" x2="7" y2="12"></line>
                        <line x1="17.01" y1="12" x2="22.96" y2="12"></line>
                     </svg>
                     <a href="/about" target="_blank" rel="noopener"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">MH</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> @ 2022-12-23</font></font>
                  </p>
               </div>
            </main>
         </div>
         <footer class="footer">
            <div class="footer__inner">
               <div class="footer__content">
                  <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2022</font></font></span>
                  <span><a href="/about"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Merlin Halliday</font></font></a></span>
               </div>
            </div>
         </footer>
      </div>

      <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
   </body>
</html>