<html lang="en" class="translated-ltr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <meta name="author" content="Merlin Halliday">
      <meta name="description" content="">
      <meta name="keywords" content="homepage,blog,science,informatics,development,programming,consulting,projects,cloud,software,technology">
          <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png')}}">
<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest')}}">
<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg')}} color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
      <title>Projects :: Merlin Halliday</title>
      <link href="{{ url_for('static', filename='flag-icon-css.css') }}"rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{ url_for('static', filename='min.css') }}">
   </head>
   <body data-new-gr-c-s-check-loaded="14.1091.0" data-gr-ext-installed="">
      <div class="container">
         <header class="header">
            <span class="header__inner">
               <a href="/" style="text-decoration:none">
                  <div class="logo"><span class="logo__mark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&gt;</font></font></span>
                     <span class="logo__text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$cd /home/</font></font></span>
                     <span class="logo__cursor"></span>
                  </div>
               </a>
               <span class="header__right">
                  <nav class="menu">
                     <ul class="menu__inner">
                        <li><a href="/about"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">About</font></font></a></li>
                        <li><a href="/cv"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CV</font></font></a></li>
                        <li><a href="/projects"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projects</font></font></a></li>
                     </ul>
                  </nav>
                  <span class="menu-trigger">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                     </svg>
                  </span>
               </span>
            </span>
         </header>
         <div class="content">
            <main class="post">
               <div class="post-info">
                  <p></p>
               </div>
               <article>
                  <h2 class="post-title"><a href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projects</font></font></a></h2>
                  <hr>
                 <h2 id="software-engineering"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Waid</font></font></h2>
                     <p><font style="vertical-align: inherit;"><p> What Am I doing is a to-do list web app built using flask. It takes advantage of google authentication protocals to handle user profiles and user login. Please check it out <a href="https://waid.merlindigital.net/">here</a> </p></font></p>

                                   <hr>
                 <h2 id="software-engineering"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Another Project</font></font></h2>
                     <p><font style="vertical-align: inherit;"><p>On this site you will find a mixture of my personal projects and academic research, along with anything else that interests me. It also serves as my professional profile, so feel free to check out my <a href="https://merlinscortex.co.uk/resume">CV</a> or connect on <a href="https://linkedin.com/in/merlinhalliday">LinkedIn</a>.</p>
<p>I am a Pharmacology graduate with a Masters in Neuroscience research. However, I am fascinated by all areas of science and technology. I first began to teach myself to code in Python, in the hopes of making the analysis of my research data easier. I have come a long way since then, adding JavaScript, HTML, CSS and SQL as well as numerous other libraries and frameworks to my ever-growing self-taught portfolio. There is still a lot I want to learn, so I invite anyone interested to follow along on here and on my <a href="https://github.com/merlinhalliday">GitHub</a></p>
<p>Please feel free to reach out about anything at: <a href="mailto:merlin.halliday@myport.ac.uk">merlin.halliday@myport.ac.uk</a></p><a href="">Link Example</a><font style="vertical-align: inherit;"></font></font></p>
               </article>
               <hr>
               <div class="post-info">
                  <p>
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit">
                        <circle cx="12" cy="12" r="4"></circle>
                        <line x1="1.05" y1="12" x2="7" y2="12"></line>
                        <line x1="17.01" y1="12" x2="22.96" y2="12"></line>
                     </svg>
                     <a href="" target="_blank" rel="noopener"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">MH</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> @ 2022-08-23</font></font>
                  </p>
               </div>
            </main>
         </div>
         <footer class="footer">
            <div class="footer__inner">
               <div class="footer__content">
                  <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2022</font></font></span>
                  <span><a href="/about"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Merlin Halliday</font></font></a></span>
               </div>
            </div>
         </footer>
      </div>

      <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
   </body>
</html>